@use '../utils/mixin' as m;

.btn-text-icon {
    display: inline-flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: var(--red-red-200);
    color: var(--primary-danger);
    border-radius: var(--br-xl);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25em; 
    transition: background-color 0.3s ease, color 0.3s ease;

    &::before {
        content: '';
        width: 16px;
        aspect-ratio: 1;
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center center;
        background-color: var(--primary-danger);
        transition: background-color .3s ease;
    }

    &--phone {
        &::before {
            mask-image: url("/icons/phone.svg");
        }
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    @include m.hover {
        &:hover {
            background-color: var(--primary-danger);
            color: var(--primary-titan-white);

            &::before {
                background-color: var(--primary-titan-white);
            }
        }
    }
}

.link-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25em;
    color: var(--primary-black);
    transition: color 0.3s ease;

    @include m.hover {
        &:hover {
            color: var(--primary-primary);
        }
    }
}