.burger {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    // width: 55.4%;
    width: 50%;
    aspect-ratio: 1;
    flex-shrink: 0;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 110%;
        aspect-ratio: 1;
        transform: translateY(-8%);
        background-image: url("/icons/blob.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        transition: bottom 0.5s ease;
        position: absolute;
        // translate: 0 50%;

        &--bottom-bun {
            position: static;
            translate: unset;
            width: 100%;
            // aspect-ratio: 1 / 0.25;
            z-index: 0;
        }

        &--cutlet {
            width: 83%;
            // aspect-ratio: 1 / 0.34;
            // translate: 0 65%;
            // transform: translate(0, 65%);
        }

        &--mayo {
            width: 85%;
            // translate: 0 25%;
            // aspect-ratio: 1 / 0.2;
            // translate: 0 75%;
            // transform: translate(0, 50%);
        }

        &--onion,
        &--cucumber {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 84%;
        }

        &--tomato {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .img__img:last-child {
                transform: translate(-40px, -20px);
            }

            .img__img:first-child {
                transform: translate(40px, 0);
            }
        }

        &--cheese {
            width: 80%;
            // translate: 0 25%;
            // transform: translate(0, 25%);
        }

        &--salad {
            width: 80%;
        }

        &--bunMiddle {
            width: 82%;
        }

        &--bunTop {
            width: 82%;
            // translate: 0 25%;
            // transform: translate(0, -30%);
        }
    }

    &__ketchup {
        position: absolute;
        right: -14%;
        bottom: -5%;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        transition: opacity 0.3s ease;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
}
