.burger {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 55.4%;
    aspect-ratio: 1;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-image: url("/icons/blob.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
}