@use "../utils/mixin" as m;

.summary {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 37.5%;

    &__title {
        margin-bottom: 24px;
    }

    &__actions {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        &::before {
            content: "";
            position: absolute;
            top: -24px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--primary-titan-white);
            border-radius: var(--br-xl);
        }
    }

    &__actions-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__total {
        color: var(--primary-primary);
    }

    &__btn {
        min-width: 192px;
    }

    &__values {
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 16px;
        background-color: var(--primary-titan-white);
        border-radius: var(--br-m);
    }

    &__values-item {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-grow: 1;
    }

    &__values-item-icon {
        width: 32px;
        aspect-ratio: 1;
        padding: 8px;
        border-radius: 100%;
        fill: var(--primary-white);

        &--violet {
            background-color: var(--primary-violet);
        }

        &--orange {
            background-color: var(--primary-orange);
        }

        &--red {
            padding: 5px;
            background-color: var(--primary-danger);
        }
    }

    &__ketchup {
        margin-top: 45px;
        display: inline-flex;
        align-self: flex-start;
        align-items: center;
        gap: 8px;
        background-color: transparent;
        font-family: "OpenSans", sans-serif;

        @include m.hover {
            &:hover {
                .summary__ketchup-accent {
                    opacity: 0.8;
                }
            }
        }
    }

    &__ketchup-accent {
        color: var(--primary-danger);
        transition: opacity 0.3s ease;
    }
}
