.tabs-btns {
    display: flex;
    align-items: center;
    gap: 59px;

    &__btn {
        padding: 14px 0;
        font-family: 'OpenSans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25em;
        background-color: transparent;

        &.tabs-btns__btn--active {
            font-weight: 600;
        }
    }
}