.text-xl {
    font-size: 36px;
    font-weight: 800;
}

.text-s {
    font-size: 14px;
    line-height: 1.42em;
}

.text-m {
    font-size: 20px;
    line-height: 1.6em;
}

.text-semi {
    font-weight: 600;
}

.font-12 {
    font-size: 12px;
    line-height: normal;
}
