@use "../utils/mixin" as m;

.title-main {
    font-family: "OpenSans", sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.11em;
}

.title-h6 {
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

@include m.tablet-s {
    .title {
        font-size: 27px;
    }
}