@use "../utils/mixin" as m;

.title {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
}

@include m.tablet-s {
    .title {
        font-size: 27px;
    }
}