<div
    class="tab-wrap"
    id="process"
>
    <section class="process">
        <div class="container container--xl">
            <div class="process__wrapper">
                <h2 class="title-main">Make Your Burger</h2>
                <div class="process__content">
                    <div class="burger">
                        <div class="burger__item burger__item--bottom-bun img">
                            <img
                                class="img__img"
                                src="/img/burger/bun-bottom.png"
                                alt="bottom bun"
                            >
                        </div>
                        <div class="burger__ketchup img">
                            <img
                                src="/img/burger/ketchup.png"
                                alt="Ketchup"
                            >
                        </div>
                    </div>
                    <div class="summary">
                        <h3 class="title-h3 summary__title">Summary</h3>
                        <div class="summary__actions-wrapper">
                            <div class="summary__actions">
                                <span class="text-xl summary__total">&dollar;0.00</span>
                                <button
                                    class="btn summary__btn"
                                    data-dialog="dialog-checkout"
                                >Checkout</button>
                            </div>
                            <p class="summary__hint hint text-s">Build a <span class="hint__colored">$10</span> Burger
                                and Get
                                a
                                Gift
                            </p>
                        </div>
                        <div class="summary__values">
                            <div class="summary__values-item">
                                <div class="summary__values-item-icon summary__values-item-icon--violet img">
                                    <svg class="img__img">
                                        <use xlink:href="/icons/sprite.svg#clock"></use>
                                    </svg>
                                </div>
                                <span class="summary__values-item-text text-s text-semi summary__total-time">0
                                    min</span>
                            </div>
                            <div class="summary__values-item">
                                <div class="summary__values-item-icon summary__values-item-icon--orange img">
                                    <svg class="img__img">
                                        <use xlink:href="/icons/sprite.svg#weigth"></use>
                                    </svg>
                                </div>
                                <span class="summary__values-item-text text-s text-semi summary__total-weight">0
                                    g</span>
                            </div>
                            <div class="summary__values-item">
                                <div class="summary__values-item-icon summary__values-item-icon--red img">
                                    <svg class="img__img">
                                        <use xlink:href="/icons/sprite.svg#calorie"></use>
                                    </svg>
                                </div>
                                <span class="summary__values-item-text text-s text-semi summary__total-calorie">0
                                    kcal</span>
                            </div>
                        </div>
                        <button
                            type="button"
                            class="summary__ketchup text-m text-semi"
                            data-name="ketchup"
                        >
                            <span class="summary__ketchup-accent">+ Tomato Ketchup</span>
                            <span>35 g</span>
                        </button>
                    </div>
                </div>
            </div>
            {{> parts/ingredients }}
        </div>
    </section>
</div>