<footer class="footer">
    <div class="container container--m footer__container">
        <div class="footer__copy font-12">
            <span class="footer__copy-copy">2022. Make Your Burger</span>
            <div class="footer__links">
                <a
                    href=""
                    class="footer__link"
                >Privacy Policy</a>
                <a
                    href=""
                    class="footer__link"
                >Terms & Conditions</a>
            </div>
        </div>
        <div class="footer__payments">
            <div class="footer__payments-item img">
                <img
                    src="/icons/payment-logos-1.svg"
                    alt="visa"
                    class="img__img"
                >
            </div>
            <div class="footer__payments-item img">
                <img
                    src="/icons/payment-logos-2.svg"
                    alt="mastercard"
                    class="img__img"
                >
            </div>
            <div class="footer__payments-item img">
                <img
                    src="/icons/payment-logos-3.svg"
                    alt="google pay"
                    class="img__img"
                >
            </div>
            <div class="footer__payments-item img">
                <img
                    src="/icons/payment-logos-4.svg"
                    alt="apple pay"
                    class="img__img"
                >
            </div>
            <div class="footer__payments-item img">
                <img
                    src="/icons/payment-logos-5.svg"
                    alt="pp"
                    class="img__img"
                >
            </div>
            <div class="footer__payments-item img">
                <img
                    src="/icons/payment-logos-6.svg"
                    alt="b"
                    class="img__img"
                >
            </div>
            <div class="footer__payments-item img">
                <img
                    src="/icons/payment-logos-7.svg"
                    alt="etherium"
                    class="img__img"
                >
            </div>
        </div>
    </div>
</footer>