<header class="header">
    <div class="container container--m header__container">
        <div class="header__left">
            <a
                href=""
                class="logo img"
            >
                <img
                    class="img__img"
                    src="/icons/logo.svg"
                    alt="logo"
                >
            </a>
        </div>
        <a
            href=""
            class="btn-text-icon btn-text-icon--phone header__call"
        >
            <span class="btn-text-icon__text">Call Me Back</span>
        </a>
        <div class="header__right">
            <button
                class="burger-btn"
                aria-label="burger menu button"
            ></button>
        </div>
        <div class="header__menu">
            <div class="tabs-btns header__tabs">
                <button
                    class="tabs-btns__btn"
                    data-tab="main"
                    data-direction="left-right"
                >Discover</button>
                <button
                    class="tabs-btns__btn"
                    data-tab="process"
                    data-direction="right-left"
                >Make Your Burger</button>
            </div>
            <a
                href="tel:+78004378722"
                class="link-text header__phone"
            >8 800 437-87-22</a>
            <div class="user header__user">
                <div class="user__image">
                    <div class="user__icon img">
                        <img
                            class="img__img"
                            src="/icons/user.png"
                            alt="user ison"
                        >
                    </div>
                    <div class="user__country img">
                        <img
                            class="img__img"
                            src="/icons/flag.svg"
                            alt="user country flag"
                        >
                    </div>
                </div>
                <span class="user__name">forst09</span>
                <div class="user__dropdown">
                    <div class="user__drowdown-wrapper">
                        <h6 class="title-h6 user__drowdown-name">forst09</h6>
                        <nav class="user__navigation">
                            <ul class="user__navigation-list">
                                <li class="user__navigation-item user__navigation-item--active">
                                    <a
                                        href=""
                                        class="user__navigation-link"
                                    >Profile</a>
                                </li>
                                <li class="user__navigation-item">
                                    <a
                                        href=""
                                        class="user__navigation-link"
                                    >Settings</a>
                                </li>
                                <li class="user__navigation-item user__navigation-item--red">
                                    <a
                                        href=""
                                        class="user__navigation-link"
                                    >Log out</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>