@use "../utils/mixin" as m;

.main {
    &__wrapper {
        padding: 0 109px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__img {        
        max-height: calc(100vh - var(--header-height) - 32px - 12px);
        aspect-ratio: 1 / 0.96;
    }

    &__btn {
        transform: translate(58%, 107%);
    }

    &__title {
        transform: translateX(10px);
    }
}