.process {
    padding-top: 52px;

    &__wrapper {
        padding: 50px 120px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        display: flex;
        align-items: center;
        width: 70%;
        // gap: 37px;
        gap: 90px;
    }
}
