@use "mixin" as m;

:root {
    --primary-titan-white: #F5F5FF;
    --primary-primary: #5243C2;
    --primary-danger: #FF4D4F;
    --red-red-200: #FFEDED;
    --primary-black: #1F2939;
    --primary-white: #FFFFFF;
    --primary-black-squeeze: #F0F7FA;
    --indigo-indigo-600: #473AA6;
    --primary-muted: #949BA6;
    --primary-violet: #B956F5;
    --primary-orange: #F58F56;

    --br-xs: 8px;
    --br-s: 16px;
    --br-m: 32px;
    --br-xl: 99px;

    --shadow: 0px 6px 80px 0px rgba(0, 0, 0, 0.04), 0px 2.507px 33.422px 0px rgba(0, 0, 0, 0.03), 0px 1.34px 17.869px 0px rgba(0, 0, 0, 0.02), 0px 0.751px 10.017px 0px rgba(0, 0, 0, 0.02), 0px 0.399px 5.32px 0px rgba(0, 0, 0, 0.02), 0px 0.166px 2.214px 0px rgba(0, 0, 0, 0.01);

    --header-height: 80px;
}