<ul class="ingredients">
    <li class="ingredients__item">
        <div
            class="ingredients__card"
            data-name="cutlet"
        >
            <div class="ingredients__card-img img">
                <img
                    src="/img/burger/cutlet.png"
                    alt="cutlet"
                    class="img__img img__img--contain"
                >
            </div>
            <h6 class="ingredients__card-title text-s text-semi">Cutlet</h6>
            <div class="quantity">
                <button class="quantity__btn quantity__btn--minus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--stroke">
                        <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                </button>
                <input
                    type="number"
                    value="0"
                    class="quantity__input text-m text-semi"
                    readonly
                >
                <button class="quantity__btn quantity__btn--plus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--fill">
                        <use xlink:href="/icons/sprite.svg#plus"></use>
                    </svg>
                </button>
            </div>
        </div>
    </li>
    <li class="ingredients__item">
        <div
            class="ingredients__card"
            data-name="mayo"
        >
            <div class="ingredients__card-img img">
                <img
                    src="/img/burger/mayo.png"
                    alt="cutlet"
                    class="img__img img__img--contain"
                >
            </div>
            <h6 class="ingredients__card-title text-s text-semi">Mayo</h6>
            <div class="quantity">
                <button class="quantity__btn quantity__btn--minus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--stroke">
                        <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                </button>
                <input
                    type="number"
                    value="0"
                    class="quantity__input text-m text-semi"
                    readonly
                >
                <button class="quantity__btn quantity__btn--plus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--fill">
                        <use xlink:href="/icons/sprite.svg#plus"></use>
                    </svg>
                </button>
            </div>
        </div>
    </li>
    <li class="ingredients__item">
        <div
            class="ingredients__card"
            data-name="onion"
        >
            <div class="ingredients__card-img img">
                <img
                    src="/img/burger/onion.png"
                    alt="onion"
                    class="img__img img__img--contain"
                >
            </div>
            <h6 class="ingredients__card-title text-s text-semi">Onion</h6>
            <div class="quantity">
                <button class="quantity__btn quantity__btn--minus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--stroke">
                        <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                </button>
                <input
                    type="number"
                    value="0"
                    class="quantity__input text-m text-semi"
                    readonly
                >
                <button class="quantity__btn quantity__btn--plus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--fill">
                        <use xlink:href="/icons/sprite.svg#plus"></use>
                    </svg>
                </button>
            </div>
        </div>
    </li>
    <li class="ingredients__item">
        <div
            class="ingredients__card"
            data-name="tomato"
        >
            <div class="ingredients__card-img img">
                <img
                    src="/img/burger/tomato.png"
                    alt="tomato"
                    class="img__img img__img--contain"
                >
            </div>
            <h6 class="ingredients__card-title text-s text-semi">Tomato</h6>
            <div class="quantity">
                <button class="quantity__btn quantity__btn--minus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--stroke">
                        <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                </button>
                <input
                    type="number"
                    value="0"
                    class="quantity__input text-m text-semi"
                    readonly
                >
                <button class="quantity__btn quantity__btn--plus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--fill">
                        <use xlink:href="/icons/sprite.svg#plus"></use>
                    </svg>
                </button>
            </div>
        </div>
    </li>
    <li class="ingredients__item">
        <div
            class="ingredients__card"
            data-name="cucumber"
        >
            <div class="ingredients__card-img img">
                <img
                    src="/img/burger/cucumber.png"
                    alt="cucumber"
                    class="img__img img__img--contain"
                >
            </div>
            <h6 class="ingredients__card-title text-s text-semi">Cucumber</h6>
            <div class="quantity">
                <button class="quantity__btn quantity__btn--minus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--stroke">
                        <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                </button>
                <input
                    type="number"
                    value="0"
                    class="quantity__input text-m text-semi"
                    readonly
                >
                <button class="quantity__btn quantity__btn--plus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--fill">
                        <use xlink:href="/icons/sprite.svg#plus"></use>
                    </svg>
                </button>
            </div>
        </div>
    </li>
    <li class="ingredients__item">
        <div
            class="ingredients__card"
            data-name="cheese"
        >
            <div class="ingredients__card-img img">
                <img
                    src="/img/burger/cheese.png"
                    alt="cheese"
                    class="img__img img__img--contain"
                >
            </div>
            <h6 class="ingredients__card-title text-s text-semi">Cheese</h6>
            <div class="quantity">
                <button class="quantity__btn quantity__btn--minus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--stroke">
                        <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                </button>
                <input
                    type="number"
                    value="0"
                    class="quantity__input text-m text-semi"
                    readonly
                >
                <button class="quantity__btn quantity__btn--plus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--fill">
                        <use xlink:href="/icons/sprite.svg#plus"></use>
                    </svg>
                </button>
            </div>
        </div>
    </li>
    <li class="ingredients__item">
        <div
            class="ingredients__card"
            data-name="salad"
        >
            <div class="ingredients__card-img img">
                <img
                    src="/img/burger/salad.png"
                    alt="salad"
                    class="img__img img__img--contain"
                >
            </div>
            <h6 class="ingredients__card-title text-s text-semi">Salad</h6>
            <div class="quantity">
                <button class="quantity__btn quantity__btn--minus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--stroke">
                        <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                </button>
                <input
                    type="number"
                    value="0"
                    class="quantity__input text-m text-semi"
                    readonly
                >
                <button class="quantity__btn quantity__btn--plus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--fill">
                        <use xlink:href="/icons/sprite.svg#plus"></use>
                    </svg>
                </button>
            </div>
        </div>
    </li>
    <li class="ingredients__item">
        <div
            class="ingredients__card"
            data-name="bunMiddle"
        >
            <div class="ingredients__card-img img">
                <img
                    src="/img/burger/bunMiddle.png"
                    alt="bunMiddle"
                    class="img__img img__img--contain"
                >
            </div>
            <h6 class="ingredients__card-title text-s text-semi">Bun</h6>
            <div class="quantity">
                <button class="quantity__btn quantity__btn--minus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--stroke">
                        <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                </button>
                <input
                    type="number"
                    value="0"
                    class="quantity__input text-m text-semi"
                    readonly
                >
                <button class="quantity__btn quantity__btn--plus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--fill">
                        <use xlink:href="/icons/sprite.svg#plus"></use>
                    </svg>
                </button>
            </div>
        </div>
    </li>
    <li class="ingredients__item">
        <div
            class="ingredients__card"
            data-name="bunTop"
        >
            <div class="ingredients__card-img img">
                <img
                    src="/img/burger/bunTop.png"
                    alt="bunTop"
                    class="img__img img__img--contain"
                >
            </div>
            <h6 class="ingredients__card-title text-s text-semi">Top bun</h6>
            <div class="quantity">
                <button class="quantity__btn quantity__btn--minus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--stroke">
                        <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                </button>
                <input
                    type="number"
                    value="0"
                    class="quantity__input text-m text-semi"
                    readonly
                >
                <button class="quantity__btn quantity__btn--plus btn-ghost-sm">
                    <svg class="btn-ghost-sm__icon btn-ghost-sm__icon--fill">
                        <use xlink:href="/icons/sprite.svg#plus"></use>
                    </svg>
                </button>
            </div>
        </div>
    </li>
</ul>